<%= link_to "<button type='button' class='btn btn-outline-secondary btn-sm' ><img src = 'https://icongr.am/fontawesome/arrow-left.svg?size=26&color=currentColor'></button>".html_safe, '/'%>
<div class="container"> 
  <h2><%= t('.title')%></h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control", :style => 'width: 200px;' %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password",:class => "form-control", :style => 'width: 200px;' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Ingresar", :class => "btn btn-outline-success btn-sm"%>
    </div>
  <% end %>

</div>
