 <%= link_to "<button type='button' class='btn btn-outline-secondary btn-sm' ><img src = 'https://icongr.am/fontawesome/mail-reply.svg?size=26&color=currentColor'></button>".html_safe, sucursals_path%>
<div class= "container" >
<h3>Turnos >> Sucursal >> <%= @sucursal.nombre%></h3>

<div>
    <table class="table table-striped">
          <thead class="table-success">
            <tr> 
              <th scope="col">Dia</th>
              <th scope="col">Abre</th>
              <th scope="col">Cierra</th>
              <% if current_user.rol == "Admin"%>
                <th>Editar</th>
                <th>Eliminar</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
        <% @sucursal.horario.each do |horario| %>             
          <tr>
            <td scope="row"><%=horario.dia%></td>
            <td scope="row"><%=horario.hora_inicio.strftime("%H:%M")%></td>
            <td scope="row"><%=horario.hora_fin.strftime("%H:%M")%></td>
          </tr>
        <% end %>
      </tbody>
        </table>
  </div>

<% if current_user.rol != "Cliente"%>
<%end%>
<h2>Solicitar turno</h2>
<%= form_with model: @turno do |form| %>
    <div>
            <% if @turno.errors.any? %>
                <div id="error_explanation">
                    <ul>
                        <% @turno.errors.full_messages.each do |message| %>
                            <li style="color:#FF0000"><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>
        </div>
    <div class="form-group">
        <%= form.label :fecha %>
        <%= form.date_field :fecha, :class => "form-control", :style => 'width: 200px;'%>
    </div>

    <div class="form-group">
        <%= form.label :hora %>
        <%= form.time_field :hora,  :class => "form-control", :style => 'width: 200px;'%>
    </div>
    
    <div class="form-group">
        <%= form.label :motivo %>
        <%= form.text_field :motivo, :class => "form-control", :style => 'width: 200px;'%>
    </div>
    <div>
        <%= form.hidden_field :sucursal_id, value: @sucursal.id%>
    </div>

    <div>
        <%= form.hidden_field :estado, value: "Pendiente"%>
    </div>
    <div>
        <%= form.hidden_field :cliente_id, value: current_user.id%>
      </div>

    <%= form.submit "Aceptar",:class => "btn btn-outline-success btn-sm"  %>


<%end%>
</div>
